* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  position: relative;
  overflow: auto;
}

.topnav {
  /* background color uber yellowish car color */
  background-color: white;
  /* nice navbar gradient color */
  /* background-image: linear-gradient(to bottom, rgb(7, 168, 217) 0%, rgb(9, 123, 158) 100%); */
  /* background-image: linear-gradient(to bottom, rgb(6, 66, 158), rgb(7, 168, 217)); */
  /* box shadow at the bottom of the nav bar */
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); */
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0 40px 0 40px;
  height: 52px;
  /* add box shadow to the bottom of the navbar */
  box-shadow: 0 0px 30px 0 rgba(104, 104, 150, 0.258);
  z-index: 1000000;
}

.nav-brand {
  font-family: "Popins", sans-serif;
  margin: 0;
  padding: 0;
  color: #067e52;
  font-weight: 400;
}
.nav-brand:hover {
  color: #067e52;
}

.index-left {
  height: 100%;
  color: rgba(250, 250, 250, 0.85);
  background-color: rgb(7, 168, 217);
  background-image: linear-gradient(to bottom, #067e52 , #005b38);
  color: rgba(255, 255, 255, 0.808);
  font-family: "Poppins", sans-serif;
}

.color-button {
  background-color: #067e52;
  color: rgba(255, 255, 255, 0.95);
  border: none;
  outline: none;
  border-radius: 4px;
  width: 80px;
  height: 40px;
  transition: all 0.3s ease-in-out;
}
.color-button:hover, .color-button:focus, .color-button:active{
  background-color: #005b38;
  color: rgba(255, 255, 255, 1);
}

.nav-links {
  color: #067e52;
  text-decoration: none;
  font-size: 120%;
  margin: 0px 0 0 30px;
  padding: 0;
  cursor: pointer;
  font-weight: 500;
}


.nav-links:hover {
  color: #067e52;
  text-decoration: underline;
}

.main-body {
  height: 100vh;
  margin-top: -52px;
  padding: 102px 70px 50px 70px;
  overflow: hidden;
  /* add background image from static files */

  /* background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
  background-color: #ffffff;
}

.main-container {
  background-color: white;
  border-radius: 2px;
  /* add big significant box shadow around the main container */
  box-shadow: 0 0px 30px 0px rgba(63, 63, 91, 0.258);
}

.main-body1 {
  padding: 0;
  background-color: white;
  height: 100vh;
  margin-top:0;
  overflow: auto;
}

.main-container1 {
  background-color: white;
  border-radius: 2px;
  /* add big significant box shadow around the main container */
  box-shadow: 0 0px 30px 0px rgba(63, 63, 91, 0.258);
  padding: 30px 30px 30px 30px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.nav-img-container {
  width: 40px;
  padding: 0;
  margin-right: -20px;
}

.nav-image {
  width: 35px;
  height: 35px;
}

.nav-image:hover {
  width: 40px;
  height: 40px;
}

.home-map {
  width: 350px;
  height: 300px;
}


.ride-request {
  width: 55%;
  padding: 30px 0px 30px 0px;
  /* box-shadow: 0 0px 30px 0px rgba(63, 63, 91, 0.258); */
  display: inline-block;
}

.user-map-container {
  width: 40%;
  display: inline-block;
  padding: 20px;
  box-shadow: 0 0px 30px 0px rgba(63, 63, 91, 0.258);
  margin-bottom: 40px;
}

.user-unrated-data {
  width: 100%;
  padding: 20px 30px 30px 30px;
  box-shadow: 0 0px 30px 0px rgba(63, 63, 91, 0.258);
  margin-bottom: 30px;
}

.user-unrated-row {
  display: grid;
  grid-template-columns: 10% 65% 10% 15%;
  grid-template-rows: 1fr;
  align-items: center;
  margin-bottom: 10px;
}

.need-ride {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* facebook messenger blue background color */

}

.user-driver-info {
  padding: 30px;
  margin: 40px 30px 30px 30px;
  box-shadow: 0 0px 30px 0px rgba(63, 63, 91, 0.258);
  width: 900px;
}

.user-cars-info, .rent-car {
  padding: 30px;
  margin: 40px 30px 30px 30px;
  box-shadow: 0 0px 30px 0px rgba(63, 63, 91, 0.258);
  width: 900px;
}

.chatcontainer {
  overflow-wrap: anywhere;
}
