<html>
<head>
    <meta charset="UTF-8">
	<title>Sign Up</title>

    <!-- ===================for map =================-->
    <!-- ================== map doesn't work for <!DOCTYPE html> -->

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>

    <!-- =====================end of map ============ -->

    <style type="text/css">


        /*============for map ============*/

        html, body {
            width:100%;
            padding:0;
            margin:0;
        }

        #lat, #lon {
            text-align: right;
        }

        .container {
            width:50%;
            max-width:980px;
            padding:1% 2%;
            margin:0 auto;

        }
        #map {
            width:80%;
            height: 60%;
            padding:0;
            margin:0;
        }
        .address {
            cursor:pointer;
        }
        .address:hover{
            color: #AA0000;
            text-decoration: underline;
        }

        @keyframes fade {
            from {opacity: 0.5;}
        }

        .blinking {
            animation: fade 1s infinite alternate;
        }

        .noblink{

        }

        /*=================end of map===============*/

    </style>

</head>
<body>

{% extends 'uber/base.html' %}


{% block body %}

     <div class = "topnav">
        <a href="{%  url 'uber:index' %}">HOME</a>

        {% if updateId %}
            <a style="float: right;" href="{% url 'uber:driverHomePage' updateId %}">GO BACK</a>
        {% endif %}
    </div>
    <br><br><br>

    <section id="forForm">


        {% if not noError %}

        {% if errorLst %}
            {% for error in errorLst %}
                {% if error %}
                    <p> {{ error }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endif %}


        <section id = "signUp">

            <form action = "{% url 'uber:driverSignUp' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% if updateId %}
                    <input type = "number" name="updateId" value="{{ updateId }}" style="display: none;">
                {% endif %}

                <p><h1>DRIVER SIGN UP</h1></p>
                <br>

                <label>
                    Upload your image
                    <input type="file" name="document">

                    {% if inputLst.10 %}
                        <img src="{{ inputLst.10 }}" width="200" height="200">
                        <input type = "text" name="image" value="{{ inputLst.10 }}" style="display: none;">
                        <br>
                    {% endif %}

                </label>

                <label> First Name*:
                    {% if errorLst %}
                        <input type = "text" name="firstName" id = "firstName" value = "{{ inputLst.0 }}" required>
                    {% else %}
                        <input type = "text" name="firstName" id = "firstName" required>
                    {% endif %}

                </label>
                <label> Middle Name:
                    {% if errorLst %}
                        <input type = "text" name="middleName" value = "{{ inputLst.1 }}">
                    {% else %}
                        <input type = "text" name="middleName">
                    {% endif %}
                </label>
                <label> Last Name:
                    {% if errorLst %}
                        <input type = "text" name="lastName" value = "{{ inputLst.2 }}">
                    {% else %}
                        <input type = "text" name="lastName">
                    {% endif %}
                </label>

                <label>Username*:
                    {% if errorLst %}
                        <input type = "text" name="userName" value = "{{ inputLst.3 }}" required>
                    {% else %}
                        <input type = "text" name="userName" required>
                    {% endif %}
                </label>

                <label> Password*:
                    {% if errorLst %}
                        <input type = "password" name="passWord" value = "{{ inputLst.4 }}" required>
                    {% else %}
                        <input type = "password" name="passWord" required>
                    {% endif %}
                </label>

                <label> Mobile Number*:
                    {% if errorLst %}
                        <input type = "text" name="mobileNumber" value = "{{ inputLst.5 }}" required>
                    {% else %}
                        <input type = "text" name="mobileNumber" required>
                    {% endif %}
                </label>

                <label> Email*:
                    {% if errorLst %}
                        <input type = "email" name="email" value = "{{ inputLst.6 }}" required>
                    {% else %}
                        <input type = "email" name="email" required>
                    {% endif %}
                </label>

                <label> Date of Birth*:
                    {% if errorLst %}
                        <input type = "date" name="birthDay" value = "{{ inputLst.7 }}" required>
                    {% else %}
                        <input type = "date" name="birthDay" required>
                    {% endif %}
                </label>


                <!--needs to be designed later-->
                <!--this part is for location map-->
                <label>
                    Your address coordinates*:

                <input type="text" name="lat" id = "lat" size="30" value="">
                <input type = "text" name="lon" id="lon" size="30" value="">
                </label>

                <div class = "container">

                    <b> Enter your current address from the map below.</b> <br>

                    <b>Search by Location Name</b>

                    <div id="search">
                        <input type = "text" name="addr" id = "addr" value="addr" size="58">
                        <button type="button" onclick="addr_search();"> Search</button>
                        <div id="results">

                        </div>

                    </div>

                    <br/>
                    <b> Drag the blue marker to your location.</b>
                    <div id="map">

                    </div>

                </div>
                <!--map ends here-->


                {% if updateId %}
                    <input type ="submit" id="submit" value="Update">
                {% else%}
                    <input type ="submit" id="submit" value="Sign Up">
                {% endif %}


            </form>

        </section>
    </section>



    <script type="text/javascript">



        /*=====================for map========================*/

        var startLat=23.72951605;
        var startLon=90.38224222;

        {% if errorLst %}
            startLat = {{ inputLst.8 }};
            startLon = {{ inputLst.9 }};
        {% endif %}

        var options = {
            center: [startLat, startLon],
            zoom: 9
        };

        document.getElementById('lat').value=startLat;
        document.getElementById('lon').value=startLon;

        var map=L.map('map', options);
        var nzoom = 9;

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {attribution: 'OSM'}).addTo(map);

         var myMarker = L.marker([startLat, startLon], {title: "Your Location", alt: "Your Location", draggable: true}).addTo(map).on('dragend', function() {
             var lat=myMarker.getLatLng().lat.toFixed(8);
             var lon = myMarker.getLatLng().lng.toFixed(8);
             var czoom = map.getZoom();
             //if (czoom < 18) {nzoom = czoom;}
             //if (nzoom > 18) {nzoom = 18; }
             nzoom =czoom;
             if (czoom != 9) {
                 map.setView([lat, lon], nzoom);
             }
             else {
                 map.setView([lat, lon],nzoom);
             }

             document.getElementById('lat').value=lat;
             document.getElementById('lon').value=lon;
              myMarker.bindPopup("Your Location <br />(" + lat + ", " + lon + ")").openPopup();
         });

         function  chooseAddr(lat1, lng1) {
             myMarker.closePopup();
             map.setView([lat1, lng1], map.getZoom());
             myMarker.setLatLng([lat1, lng1]);
             lat = lat1.toFixed(8);
             lon=lng1.toFixed(8);

             document.getElementById('lat').value=lat;
             document.getElementById('lon').value=lon;
             myMarker.bindPopup("Your Location <br />(" + lat + ", " + lon + ")").openPopup();
         }

         function myFunction(arr) {
             var out = "<br />";
             var i;

             if (arr.length > 0) {
                 for (i = 0; i < arr.length; i++) {
                     out += "<div class='address' title='Show Location and Coordinates' onclick='chooseAddr(" + arr[i].lat + ", " + arr[i].lon + ");return false;'>" + arr[i].display_name + "</div>";
                 }
                 document.getElementById('results').innerHTML = out;
             }
             else {
                 document.getElementById('results').innerHTML = "Sorry, no results...";
             }
         }

         function addr_search() {
             var inp = document.getElementById("addr");
             var xmlhttp = new XMLHttpRequest();
             var url = "https://nominatim.openstreetmap.org/search?format=json&limit=3&q=" + inp.value;
             xmlhttp.onreadystatechange = function () {
                 if (this.readyState == 4 && this.status == 200) {
                     var myArr = JSON.parse(this.responseText);
                     myFunction(myArr);
                 }
             };
             xmlhttp.open("GET", url, true);
             xmlhttp.send();
         }

         function getLocation() {
             document.getElementsByClassName("container")[0].style.display='block';
         }
         function ok() {
             document.getElementsByClassName("container")[0].style.display='none';
         }
         /*==========================end of map ==============*/

    </script>

{% endblock %}

</body>
</html>