<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driver</title>

    <!-- ===================for map =================-->
    <!-- ================== map doesn't work for <!DOCTYPE html> -->

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>

    <!-- =====================end of map ============ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
        

        /*============for map ============*/

        

        #lat, #lon {
            text-align: right;
        }

        .container {
            width:50%;
            max-width:980px;
            padding:1% 2%;
            margin:0 auto;

        }
        #map {
            width:80%;
            height: 60%;
            padding:0;
            margin:0;
        }
        .address {
            cursor:pointer;
        }
        .address:hover{
            color: #AA0000;
            text-decoration: underline;
        }

        @keyframes fade {
            from {opacity: 0.5;}
        }

        .blinking {
            animation: fade 1s infinite alternate;
        }

        .noblink{

        }

        /* Chat containers */
        .chatcontainer {
          border: 2px solid #dedede;
          background-color: #f1f1f1;
          border-radius: 5px;
          padding-top: 10px;
          margin: 10px 0;
          color:#000000;
        }

        /* Darker chat container */
        .darker {
          border-color: #ccc;
          background-color: #000000;
        }

        /* Clear floats */
        .chatcontainer::after {
          content: "";
          clear: both;
          display: table;
        }

        /* Style images */
        .chatcontainer img {
          float: left;
          max-width: 60px;
            max-height: 60px;
          height: 60px;
            width: 60px;
          margin-right: 20px;
          border-radius: 50%;
        }



        /* Style the right image */
        .chatcontainer img.right {
          float: right;
          margin-left: 20px;
          margin-right:0;
        }

        /* Style time text */
        .time-right {
          float: right;
          color: #aaa;
        }

        /* Style time text */
        .time-left {
          float: left;
          color: #999;
        }

        #message {
            border: 2px solid #ccc;
            border-radius: 5px;
            color:#000000;
        }


       


/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */

        /*=================end of map===============*/

    </style>

</head>
<body>




{% extends 'uber/base.html' %}

{% block body %}

    <div class="showDriverInfo" id = "showDriverInfo" style="display: none;">

        <div class="topnav navbar d-flex align-items-center">
            <div class="navbar-brand me-auto h1 fs-2 nav-brand d-flex align-items-center">UBER</div>
            <a href="#" onclick="Show()" class="nav-links">Close</a>

        </div>
        <div class="text-center d-flex justify-content-center" style="width: 100%;">
            <div class="user-driver-info" >
                <div class="h3 text-center mb-4" style="color: #067e52;;">Your Profile</div>
                <div style="display: grid; grid-template-columns: 50% 50%" class="mb-2 mt-2">

                    <div>
                        <img style="width: 100%; height: 100%; max-height: 400px; object-fit: cover;" src="{{ driverInfo.9 }}">
                    </div>
                    <div class="text-start ps-4" >
                        {% if driverInfo.2 %}
                            {% if driverInfo.3 %}
                                <p class="h3">{{ driverInfo.1 }} {{ driverInfo.2 }} {{ driverInfo.3 }}</p>
                            {% else %}
                                <p class="h3">{{ driverInfo.1 }} {{ driverInfo.2 }}</p>
                            {% endif %}
                        {% elif driverInfo.3 %}
                            <p class="h3">{{ driverInfo.1 }} {{ driverInfo.3 }}</p>
                        {% else %}
                            <p class="h3">{{ driverInfo.1 }}</p>
                        {% endif %}

                        <p class="h6">Username: {{ driverInfo.4 }}</p>

                        <details>
                            <summary>Show Password</summary>
                            <p>Password: {{ driverInfo.5 }}</p>
                        </details>
                        <p>Email: {{ driverInfo.6 }}</p>

                        {% if driverInfo.7 %}
                            <p>Rating: {{ driverInfo.7 }} ({{ driverInfo.8 }} ratings)</p>
                        {% endif %}
                        <P>Date of Birth: {{ driverInfo.10 }}</P>

                        <p class="h6"> Mobile Number(s): </p>
                        {% if driverInfo.12|length == 1 %}
                            {% for num in driverInfo.12 %}
                                <p>{{ num }}</p>
                            {% endfor %}
                        {% else %}

                            {% for num in driverInfo.12 %}
                                <p>{{ num }} <a href="{% url 'uber:driverDeleteMobile' num driverInfo.0 %}">delete</a></p>
                            {% endfor %}
                        {% endif %}

                        <!--=============================================================================change=======================================-->
                        <p>Address: {{ driverInfo.13.2 }}</p>
                    </div>
                </div>

                <hr>
                    <!--=============================================================================change=======================================-->
                   
                    <div class="p-4 pt-0 pb-0 d-flex gap-2 justify-content-start align-items-center">
                    <form action="{% url 'uber:driverSignUp' %}" method="post">
                        {% csrf_token %}
                        <input type="number" name="updateId" value="{{ driverInfo.0 }}" style="display: none;">
                        <input type="submit" value="Update Your Info" role="button" class="btn btn-success">
                    </form>
                    

                    <form action="{% url 'uber:driverDeleteAccount' driverInfo.0 %}" method="post">
                        {% csrf_token %}
                        <input onclick="return confirm('Are you sure you want to delete your account?')" type="submit"
                            value="Delete Account" role="button" class="btn btn-success">
                    </form>

                    <a href="{%  url 'uber:index' %}" role="button" class="btn btn-success">Log Out</a>
                </div>
            



        {% if car %}
            <hr>
            <h3 style="" class="text-center mb-4">Your Car Info</h3>
            <div style="display: grid; grid-template-columns: 50% 50%" class="mb-2 mt-2">

            
                <div>
                    {% if car.3 %}
                
                        <img src="{{ car.3 }} "style="width: 100%; height: 100%; object-fit: cover;">
                    
                    {% endif %}
                 </div>
                 <div class="text-start ps-4">
            <p>Nameplate: {{ car.0 }}</p>
            {% if car.1 %}
                <p> Model: {{ car.1 }}</p>
            {% endif %}

            {% if car.2 %}
                <p> Color: {{ car.2 }}</p>
            {% endif %}
            {% if car.6 %}
                <p> Insurace Type : {{ car.6 }}</p>
            {% endif %}
            {% if car.8 %}
                <p> Insurace Start date: {{ car.7 }}</p>
                <p> Insurace End date: {{ car.8 }}</p>
            {% else %}
                <p>Your Car Insurace is expired! Please change your car!</p>
            {% endif %}
        </div>
        </div>

        {% endif %}

        
    </div>
</div>
    </div>
<div id = "mainPage">

    <div class="topnav navbar d-flex align-items-center">
        <div class="navbar-brand me-auto h1 fs-2 nav-brand d-flex align-items-center">UBER</div>
        <a class="nav-links" style="" href="{% url 'uber:driverHomePage' driverInfo.0 %}">
            reload <i class="fa fa-refresh" aria-hidden="true"></i>
        </a>

        <a class="nav-links" href="{% url 'uber:driverRideHistory' driverInfo.0 %}">Ride History</a>
        <a class="nav-links" href="{% url 'uber:driverPickCar' driverInfo.0 %}">Pick a Car</a>
        <a class="nav-links nav-img-container" style="" href="#" onclick="Show1()"><img src="{{ driverInfo.9 }}"
                class="img img-fluid nav-image" style=" border-radius:
                50%; box-shadow: 0 0 4px 0px #067e52" alt=" {{ driverInfo.1 }}" title="profile"></a>

    </div>




    <section id = "forForm">

    

    {% if not car %}
        <p class="text-center h2 mt-5">Please pick a car first to get ride request...</p>
    {% elif not car.8 %}
        <p class="text-center h2 mt-5">Please pick a new car for ride request</p>
    {% else %}

    <div style="width: 100%; padding: 50px; display: grid; grid-template-columns: 60% 40%">
        <div class = "container order-2" style="box-shadow: 0 0px 30px 0px rgba(63, 63, 91, 0.258); padding: 30px; height: 400px;">
            <form> <!-- dummy form -->
            {% csrf_token %}
            <input type="text" name="lat" id = "lat" size="30" value="" style="display: none;">
            <input type = "text" name="lon" id="lon" size="30" value="30" style="display: none;">
            <input type="text" name="destlat" id = "destlat" size="30" value="" style="display: none;">
            <input type = "text" name="destlon" id="destlon" size="30" value="30" style="display: none;">
            </form>

            <b id="addr_lookup">Address Lookup</b>

            <div id="search">
                <input type = "text" name="addr" id = "addr" value="addr" size="58">
                <button type="button" onclick="addr_search(1);"> Search Pick up Point</button>
                <div id="results">

                </div>

            </div>

            <div id="destsearch">
                <input type = "text" name="destaddr" id = "destaddr" value="destaddr" size="58">
                <button type="button" onclick="addr_search(2);"> Search Destination</button>
                <div id="destresults">

                </div>

            </div>

           


            <div style="width: 100%; height: 100%; overflow: hidden;">
                <b>Blue marker is the pick up location and green marker is the destination</b>
                <div id="map" style="height: 100%; width: 100%; display: block;">

                </div>
            </div>

        </div>
        <div style="margin-right: 50px; box-shadow: 0 0px 30px 0px rgba(63, 63, 91, 0.258); padding: 30px;">
            {% if data %}

                <p class="h3 text-center mb-4"> You have an ongoing ride</p>


                <div id="chatbox" style="height: 400px; width: 400px; overflow: auto; float: right; border: 2px solid #067e52; border-radius: 3px; background: rgba(192,229,228,0.03); padding: 5px 5px 0 5px; position: relative;">
                        <div>
                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.1 %}
                                        <div class="chatcontainer" style="padding: 5px;">
                                            <img src="{{ data.9.9 }}" alt="User">
                                            <p style="color: #000000; opacity: 1.5;">{{ message.0 }}</p>
                                            <span class="time-left">{{ message.2 }}</span>
                                        </div>
                                    {% else %}
                                        <div class="chatcontainer darker" style="padding: 5px; background-color: #d2ded9;">
                                            <img src="{{ driverInfo.9 }}" alt="You" class="right">
                                            <p style="color: black">{{ message.0 }}</p>
                                            <span class="time-left">{{ message.2 }}</span>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="" style=" position: sticky; bottom: 0; background-color: white;">
                            <textarea form="chatform" id="message" name="message" rows="4" cols="40"
                                placeholder="type new message here" maxlength="500"
                                style="width: 100%; height: 80px;"></textarea>
                            <div class="d-flex justify-content-end" style="width: 100%; padding: 5px 0px 5px 0px;">
                                <a class="Refresh btn btn-success btn-sm" role="button"
                                    href="{% url 'uber:driverHomePage' driverInfo.0 %}">Reload</a>

                                <form id="chatform" action="{% url 'uber:driverMessageUser' driverInfo.0 data.9.0 %}"
                                    method="post">
                                    {% csrf_token %}
                                    <input role="button" class="btn btn-success btn-sm"
                                        style="float: right; margin-left: 5px;" type="submit" value="Send">
                                </form>
                            </div>
                        </div>

                </div>

                    <!--end of chatbox-->

                        <h4 class="text-start"> Ride Info </h4>
                        <!--=============================================================================change=======================================-->
                        <p>Pickup Location: {{ data.10.2 }}</p>
                        <p>Destination: {{ data.11.2 }}</p>
                        <p style="font-size: 100%; font-weight: bolder;"> Approximate Fare: {{ data.5 }}</p>
                        <details class="mb-4">
                            <summary>Show User Info</summary>
                            <p>Name: {{ data.9.1 }}</p>
                            {% if data.9.7 %}
                                <p>Rating: {{ data.9.7 }}({{ data.9.8 }} ratings)</p>
                            {% else %}
                                <p>Rating: New User</p>
                            {% endif %}
                            <p> Mobile Number(s): </p>
                            {% for num in data.9.12 %}
                                <p>{{ num }}</p>
                            {% endfor %}
                        </details>


                        <button class="btn btn-success mb-2 btn-sm" onclick="showLocations(this.value)" value = "0">See locations in map</button>
                        <!--newly added -->
                        <div class="d-flex">
                        <form action="{% url 'uber:driverCancelRequest' data.0 driverInfo.0 %}" method="post">
                            {% csrf_token %}
                            <input role="button" class="btn btn-success mb-2 btn-sm me-2" type="submit" value = "Cancel Request">
                        </form>

                        <form action="{% url 'uber:completeJourney' data.0 driverInfo.0 %}" method="post">
                            {% csrf_token %}
                            <input role="button" class="btn btn-success btn-sm" type="submit" value = "Complete Journey">
                        </form>
                    </div>



                        <!--newly added end -->

                        

            {% else %}

                {% if requestData %}
                    <h3 class="text-center">Ride requests </h3>
                    {% for data in requestData %}
                    <div style="display: grid; grid-template-columns: 50% 50%; margin-top: 40px;">
                        <div>
                            <h4> Ride Info {{ forloop.counter}} </h4>

                            <!--=============================================================================change=======================================-->
                            <p>Pickup Location: {{ data.10.2 }}</p>
                            <p>Destination: {{ data.11.2 }}</p>

                    


                            <p style="font-size: 100%; font-weight: bolder;"> Approximate Fare: {{ data.5 }}</p>
                            <div class="d-flex justify-content-start">
                                <form action= "{% url 'uber:acceptRequest' data.0 driverInfo.0 %}" method ="post">
                                    {% csrf_token %}
                                    <input role="button" class="btn btn-success me-3" type="submit" value="Respond">
                                </form>
                            
                                <button class="btn btn-success" onclick="showLocations(this.value)" value="{{ forloop.counter }}">See Locations in map</button>
                            </div>
                        </div>    
                        <div>
                                <p class="h5 mb-3" style="margin-top: 30px;">User Info</p>
                                <p class="h6">Name: {{ data.9.1 }}</p>
                                {% if data.9.8 %}
                                    <p>Rating: {{ data.9.7 }}  <i class="fa fa-star-o" aria-hidden="true"></i> ({{ data.9.8 }} ratings)</p>
                                {% else %}
                                    <p >Rating: New User</p>
                                {% endif %}
                                <p class="h6"> Mobile Number(s): </p>
                                {% for num in data.9.12 %}
                                    <p>{{ num }}</p>
                                {% endfor %}
                            
                        </div>
                    </div>
                        
                        


                    {% endfor %}
                {% else %}
                    <p class="text-center mt-5 h2"> There is no ride request!</p>
                {% endif %}

            {% endif %}
        </div>
    </div>
    {% endif %}
    </section>
</div>
    <script type="text/javascript">

        document.getElementById("addr_lookup").style.display = 'none';
        document.getElementById("search").style.display = 'none';
        document.getElementById("destsearch").style.display = 'none';

        window.onload = function () {
            var objDiv = document.getElementById("chatbox");
            objDiv.scrollTop = objDiv.scrollHeight;
        }




        /* ====================for map================*/

        var startLat=23.72951605;
        var startLon=90.38224222;
        var destStartLat = 23.74707065;
        var destStartLon = 90.37574651;

        var options = {
            center: [startLat, startLon],
            zoom: 12
        };

        document.getElementById('lat').value=startLat;
        document.getElementById('lon').value=startLon;

        document.getElementById('destlat').value=destStartLat;
        document.getElementById('destlon').value=destStartLon;

        var map=L.map('map', options);
        var nzoom = 12;

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {attribution: 'OSM'}).addTo(map);

        var greenIcon = new L.Icon({
              iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
              shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
              iconSize: [25, 41],
              iconAnchor: [12, 41],
              popupAnchor: [1, -34],
              shadowSize: [41, 41]
            });



        var myMarker1 = L.marker([destStartLat, destStartLon], {title: "Destination", alt: "Destination", draggable:true, icon:greenIcon}).addTo(map).on('dragend', function() {
            var destlat=myMarker1.getLatLng().lat.toFixed(8);
             var destlon = myMarker1.getLatLng().lng.toFixed(8);
             var czoom = map.getZoom();
             //if (czoom < 18) {nzoom = czoom;}
             //if (nzoom > 18) {nzoom = 18; }
             nzoom =czoom;
             if (czoom != 9) {
                 map.setView([destlat, destlon], nzoom);
             }
             else {
                 map.setView([destlat, destlon],nzoom);
             }

             document.getElementById('destlat').value=destlat;
             document.getElementById('destlon').value=destlon;
             myMarker1.bindPopup("Destination: <br />(" + destlat + ", " + destlon + ")").openPopup();
         });


         var myMarker = L.marker([startLat, startLon], {title: "Pick up Point", alt: "Pick up Point", draggable: true}).addTo(map).on('dragend', function() {
             var lat=myMarker.getLatLng().lat.toFixed(8);
             var lon = myMarker.getLatLng().lng.toFixed(8);
             var czoom = map.getZoom();
             //if (czoom < 18) {nzoom = czoom;}
             //if (nzoom > 18) {nzoom = 18; }
             nzoom =czoom;
             if (czoom != 9) {
                 map.setView([lat, lon], nzoom);
             }
             else {
                 map.setView([lat, lon],nzoom);
             }

             document.getElementById('lat').value=lat;
             document.getElementById('lon').value=lon;
             myMarker.bindPopup("Pick Up Point: <br />(" + lat + ", " + lon + ")").openPopup();
         });


         function  chooseAddr(lat1, lng1, dest) {
             if (dest == 1) {
                 myMarker.closePopup();
             }
             else {
                 myMarker1.closePopup();
             }

             map.setView([lat1, lng1], map.getZoom());
             if (dest == 1) myMarker.setLatLng([lat1, lng1]);
             else myMarker1.setLatLng([lat1, lng1]);

             if (dest == 1) {
                 lat = lat1.toFixed(8);
                 lon=lng1.toFixed(8);
                 document.getElementById('lat').value=lat;
                 document.getElementById('lon').value=lon;
                 myMarker.bindPopup("Pick Up Point: <br />(" + lat + ", " + lon + ")").openPopup();
             }
             else {
                 destlat = lat1.toFixed(8);
                 destlon=lng1.toFixed(8);
                 document.getElementById('destlat').value=destlat;
                 document.getElementById('destlon').value=destlon;
                 myMarker1.bindPopup("Destination: <br />(" + destlat + ", " + destlon + ")").openPopup();
             }
         }

         function myFunction(arr, dest) {
             var out = "<br />";
             var i;

             if (arr.length > 0) {
                 for (i = 0; i < arr.length; i++) {
                     out += "<div class='address' title='Show Location and Coordinates' onclick='chooseAddr(" + arr[i].lat + ", " + arr[i].lon + ", " + dest + ");return false;'>" + arr[i].display_name + "</div>";
                 }
                 if (dest == 1) document.getElementById('results').innerHTML = out;
                 else document.getElementById('destresults').innerHTML = out;
             }
             else {
                 if (dest == 1) document.getElementById('results').innerHTML = "Sorry, no results...";
                 else document.getElementById('destresults').innerHTML = "Sorry, no results...";
             }
         }

         function addr_search(dest) {
             var inp = document.getElementById("addr");
             if (dest == 2) inp = document.getElementById("destaddr");

             var xmlhttp = new XMLHttpRequest();
             var url = "https://nominatim.openstreetmap.org/search?format=json&limit=3&q=" + inp.value;
             xmlhttp.onreadystatechange = function () {
                 if (this.readyState == 4 && this.status == 200) {
                     var myArr = JSON.parse(this.responseText);
                     myFunction(myArr, dest);
                 }
             };
             xmlhttp.open("GET", url, true);
             xmlhttp.send();
         }

        /* ===================== end of map ===================== */


        function showLocations(idx) {
            if (idx == 0) {
                {% if data %}
                    document.getElementById('lat').value= {{ data.10.0 }};
                    document.getElementById('lon').value= {{ data.10.1 }};

                    document.getElementById('destlat').value= {{ data.11.0 }};
                    document.getElementById('destlon').value= {{ data.11.1 }};
                    chooseAddr({{ data.10.0 }}, {{ data.10.1 }}, 1);
                    chooseAddr({{ data.11.0 }}, {{ data.11.1 }}, 2);
                {% endif %}
            }
            else {
                {% if requestData %}
                    var i = 1;
                    {% for data in requestData %}
                        if (i == idx) {
                            document.getElementById('lat').value= {{ data.10.0 }};
                            document.getElementById('lon').value= {{ data.10.1 }};

                            document.getElementById('destlat').value= {{ data.11.0 }};
                            document.getElementById('destlon').value= {{ data.11.1 }};
                            chooseAddr({{ data.10.0 }}, {{ data.10.1 }}, 1);
                            chooseAddr({{ data.11.0 }}, {{ data.11.1 }}, 2);
                        }
                        i++;
                    {% endfor %}
                {% endif %}
            }



            document.getElementsByClassName("container")[0].style.display = 'block';

            myMarker1.remove();
            myMarker1.options.draggable = false;
            myMarker1.addTo(map);

            myMarker.remove();
            myMarker.options.draggable = false;
            myMarker.addTo(map);

        }

        document.getElementsByClassName("container")[0].style.display = 'block';

        function Show() {
            document.getElementById("mainPage").style.display = 'block';
            document.getElementById("showDriverInfo").style.display = 'none';
        }

        function Show1() {
            document.getElementById("mainPage").style.display = 'none';
            document.getElementById("showDriverInfo").style.display = 'block';
        }

        {% if data %}
            document.getElementById("pickCar").style.display='none';
        {% endif %}

        // window.onload=function () {
        //     var objDiv = document.getElementById("chatbox");
        //     objDiv.scrollTop = objDiv.scrollHeight;
        // }

        


    </script>

{% endblock %}

</body>
</html>