<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>

</head>
<body>

{% extends 'uber/base.html' %}
{% block body %}

    <div class="topnav navbar d-flex align-items-center">
        <div class="navbar-brand me-auto h1 fs-2 nav-brand d-flex align-items-center">UBER</div>
        <a class="nav-links" href="{%  url 'uber:driverRideHistory' driverId %}">Go Back</a>
    </div>

    <div class="text-center d-flex justify-content-center" style="width: 100%;">
        <div class="user-driver-info">
            <div class="h3 text-center mb-4" style="color: #067e52;;">User Info</div>
            <div style="display: grid; grid-template-columns: 50% 50%">
                <div class="d-flex align-items-center">
                    <img src="{{ driverInfo.0 }}" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
                <div class="text-start ps-4">
                    <p class="h3"> {{ driverInfo.1 }}</p>
                    <p class="h6">User Name: {{ driverInfo.2 }}</p>
                    <p>Email: {{ driverInfo.3 }}</p>
                    {% if driverInfo.5 %}
                    <p class="h6">Rating: {{ driverInfo.4 }}  <i class="fa fa-star-o" aria-hidden="true"></i>
                    ({{ driverInfo.5 }} ratings)</p>
                    {% else %}
                    <p>Rating: new user</p>
                    {% endif %}

                    <p>Date of Birth: {{ driverInfo.6 }}</p>
                    <p>Address: {{ driverInfo.7 }}</p>

                    <p class="h6">Mobile Number(s):</p>
                    {% for num in driverInfo.8 %}
                    <p>{{ num }}</p>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>



{% endblock %}

<script type="text/javascript">

</script>


</body>
</html>