<html>

<head>
    <meta charset="UTF-8">
    <title>Car Info</title>


</head>

<body>

    {% extends 'uber/base.html' %}


    {% block body %}


    <div class="topnav navbar d-flex align-items-center">
        <div class="navbar-brand me-auto h1 fs-2 nav-brand d-flex align-items-center">UBER</div>
        <a class="nav-links" href="{%  url 'uber:userHomePage' userId %}">Go Back</a>

    </div>


    <section id="forForm" class="d-flex justify-content-center">
        <div class="user-cars-info">
            <p class="h3 text-center" style="color: #067e52;">Your Cars</p>



            {% if inputLst %}
            {% for car in inputLst %}
            <section id="signUp" class="" style="display: grid; grid-template-columns: 50% 50%; margin-top: 40px;">
                <div>
                    {% if car.3 %}

                    <img style="width: 100%; height: 100%; object-fit: cover;" src="{{ car.3 }}" >
                    {% endif %}
                </div>
                <div class="ps-4">

                    <p>Nameplate: {{ car.0 }}</p>
                    {% if car.1 %}
                    <p> Model: {{ car.1 }}</p>
                    {% endif %}

                    {% if car.2 %}
                    <p> Color: {{ car.2 }}</p>
                    {% endif %}
                    {% if car.6 %}
                    <p> Insurace Type : {{ car.6 }}</p>
                    {% endif %}
                    {% if car.7 %}
                    <p> Insurace Start date: {{ car.7 }}</p>
                    {% if car.8 %}
                    <p> Insurace End date: {{ car.8 }}</p>
                    <p>Due Payment: {{ car.9 }}</p>
                    {% else %}
                    <p>Your insurance expired!</p>
                    <form action="{% url 'uber:updateInsurance' car.0 userId %}" method="post">
                        {% csrf_token %}
                        <input type="text" name="Update" value="Update" style="display: none;">
                        <input role="button" class="btn btn-success mb-2"  type="submit" value="Update Insurance">
                    </form>
                    {% endif %}
                    {% else %}
                    <p>Your car is waiting to be validated!</p>
                    {% endif %}

                    <form action="{% url 'uber:userDeleteCar' car.0 userId %}" method="post">
                        {% csrf_token %}
                        <input role="button" class="btn btn-success" onclick="return confirm('Are you sure you want to delete this car?')" type="submit"
                            value="Delete Car">
                    </form>
                </div>
            </section>

            {% endfor %}
            {% else %}
            <p class="h4 text-center mt-4"> You have no cars!</p>
            {% endif %}


        </div>
    </section>


    {% endblock %}

</body>

</html>