<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>User Login</title>
</head>

<body>

    {% extends 'uber/base.html' %}
    {% block body %}


    <div class="topnav navbar d-flex align-items-center">
        <div class="navbar-brand me-auto h1 fs-2 nav-brand d-flex align-items-center">UBER</div>

        <!-- <a class="nav-links" href="{%  url 'uber:index' %}">Home</a> -->
        <a class="nav-links" href="{%  url 'uber:index' %}">Home</a>

    </div>

    <div class="main-body d-flex align-items-center justify-content-center">
        <!-- show image from static file -->
        <div class="container-fluid main-container" style="height: 100%; width: 35%;">
            <div class="row" style="height: 100%;">

                <section id="forForm" class="col col-12 d-flex align-items-center justify-content-center vstack"
                    style="padding: 30px;">

                    <div class="h4 text-center" style="color: rgb(7, 168, 217); margin-bottom: 50px;">User Login
                    </div>


                    {% if errorLst %}
                    {% for error in errorLst %}
                    {% if error %}
                    <p style="color: rgb(207, 20, 20);">{{ error }}</p>
                    {% endif %}
                    {% endfor %}
                    {% endif %}


                    <form style="" class="w-100" action="{% url 'uber:userLogin' %}" method="post">
                        {% csrf_token %}
                        <label class="form-label" id="label1" for="userName">Email/ Phone/
                            Username</label>
                        {% if errorLst %}
                        <input style="width: 100%;" class="form-control" type="text" name="userName" id="userName"
                            value="{{ inputLst.0 }}" placeholder="email/phone/username" required>
                        {% else %}
                        <input style="width: 100%;" class="form-control" type="text" name="userName" id="userName"
                            placeholder="email/phone/username" required>
                        {% endif %}
                        <br>

                        <label class="form-label" for="password"> Password </label>
                        {% if errorLst %}
                        <input class="form-control w-100" type="password" name="passWord" value="{{ inputLst.1 }}"
                            placeholder="password" id="password" required>
                        {% else %}
                        <input class="form-control" type="password" name="passWord" placeholder="password" id="password"
                            required>
                        {% endif %}

                        <div class="text-center"><input style="width: 80px; margin-top:40px" role="button"
                                class="btn btn-info" type="submit" value="Log In">
                        </div>

                    </form>
                </section>
            </div>
        </div>
    </div>


    {% endblock %}

</body>

</html>